In [1]:
#Dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import csv
import time
import scipy.stats as st
from scipy.stats import linregress

In [4]:
## Output File (CSV)
data_file="archive/hour.csv"
#Creating DataFrame
Bike_Share_Hour=pd.read_csv(data_file)
print(Bike_Share_Hour.head())

   instant      dteday  season  yr  mnth  hr  holiday  weekday  workingday  \
0        1  2011-01-01       1   0     1   0        0        6           0
1        2  2011-01-01       1   0     1   1        0        6           0
2        3  2011-01-01       1   0     1   2        0        6           0
3        4  2011-01-01       1   0     1   3        0        6           0
4        5  2011-01-01       1   0     1   4        0        6           0

   weathersit  temp   atemp   hum  windspeed  casual  registered  cnt
0           1  0.24  0.2879  0.81        0.0       3          13   16
1           1  0.22  0.2727  0.80        0.0       8          32   40
2           1  0.22  0.2727  0.80        0.0       5          27   32
3           1  0.24  0.2879  0.75        0.0       3          10   13
4           1  0.24  0.2879  0.75        0.0       0           1    1

In [6]:
Bike_Share=Bike_Share_Hour[['instant','dteday','season','yr','mnth','hr',
                                'holiday','weekday','workingday','weathersit','cnt' ]].copy()
Bike_Share.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,1

# Adding Season labels

In [7]:
Bike_Share_Season=Bike_Share.copy()
bins=[0,1,2,3,4]
group=['Spring','Summer','Fall','Winter']
Bike_Share_Season['Season Name']=pd.cut(Bike_Share_Season['season'],bins,labels=group,include_lowest=True)
Bike_Share_Season.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,cnt,Season Name
0,1,2011-01-01,1,0,1,0,0,6,0,1,16,Spring
1,2,2011-01-01,1,0,1,1,0,6,0,1,40,Spring
2,3,2011-01-01,1,0,1,2,0,6,0,1,32,Spring
3,4,2011-01-01,1,0,1,3,0,6,0,1,13,Spring
4,5,2011-01-01,1,0,1,4,0,6,0,1,1,Spring

# Adding Weather labels

In [ ]:
#weathersit : 
#		- 1: Clear, Few clouds, Partly cloudy, Partly cloudy
#		- 2: Mist + Cloudy, Mist + Broken clouds, Mist + Few clouds, Mist
#		- 3: Light Snow, Light Rain + Thunderstorm + Scattered clouds, Light Rain + Scattered clouds
#		- 4: Heavy Rain + Ice Pallets + Thunderstorm + Mist, Snow + Fog

In [8]:
Bike_Share_Day=Bike_Share_Season.copy()
bins=[0,1,2,3,4]
group=['Clear','Cloudy','Light Snow/Rain','Heavy Rain']
Bike_Share_Day['Weather Name']=pd.cut(Bike_Share_Day['weathersit'],bins,labels=group,include_lowest=True)
Bike_Share_Day.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,cnt,Season Name,Weather Name
0,1,2011-01-01,1,0,1,0,0,6,0,1,16,Spring,Clear
1,2,2011-01-01,1,0,1,1,0,6,0,1,40,Spring,Clear
2,3,2011-01-01,1,0,1,2,0,6,0,1,32,Spring,Clear
3,4,2011-01-01,1,0,1,3,0,6,0,1,13,Spring,Clear
4,5,2011-01-01,1,0,1,4,0,6,0,1,1,Spring,Clear

In [10]:
#Output to csv file
Bike_Share_Day.to_csv('Resources/Bike_Share_Day.csv', index=False ,header=True)